{% load static %}
<!-- Start:Footer Section 
==================================================-->
<footer class="footer-section">
    <div class="container">
        <div class="row footer_middle"> 
            <!-- Start:Subfooter -->
            <div class="subfooter">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="copyright_text">@2021 разработано компанией <a style="color:darkkhaki" href="http://mbcstudio.org">mbcstudio</a>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <ul class="footer_social_icons">
                            <li class="facebook">
                                <a href="https://www.facebook.com/profile.php?id=100011587126041"><i class="fa fa-facebook-f"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="https://www.instagram.com/sanvsk/"><i class="fa fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-xs-12">
                        <a class="scrollup" href="#"></a>
                    </div>
                </div>
            </div>
            <!-- End:Subfooter -->
        </div>
    </div>
</footer>
<!-- End:Footer Section 
========================================-->

<!-- Scripts
========================================-->
<!-- jquery -->
<script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
<!-- plugins -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- singlePageNav -->
<script src="{% static 'js/jquery.singlePageNav.min.js' %}"></script>
<!--  menu-collaps  -->
<script src="{% static 'js/menu-collaps.js' %}"></script> 
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>

<!-- Custom Scripts
========================================-->
<script src="{% static 'js/main.js' %}"></script>

</body>

</html>