{% load static %}

{% include 'header.html' %}

<!-- Start: Slides  -->
{% include 'slider.html' %}
<!-- End:  Slider
==================================================-->

<!-- Start: About Section 
==================================================-->
    <section class="about-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 about_bottom_warp">
                    <div class="about_list">
                        <div class="base-header">
                            <h3 style="text-transform: uppercase;">
                                Для кого этот курс 
                                <p class="gradient_e">@Snimai.krasivo</p>
                            </h3>
                        </div>
                    </div>
                    <div class="row about_list_warp">
                        <div class="col-sm-12 col-xs-12">
                            <!-- about-item -->
                            <ol>
                                <li><h4>Начинающим фотографам и видеографам</h4></li>
                                <li><h4>Маркетологам</h4></li>
                                <li><h4>SMM специалистам</h4></li>
                                <li><h4>Блогерам</h4></li>
                                <li><h4>Предпринимателям</h4></li>
                                <li><h4>Людям у которых есть свой продукт</h4></li>
                            </ol>
                            <!-- End: .about-item -->
                        </div>
                    </div>
                </div>
                <!--End: about_bottom_warp -->
                <div class="col-sm-6">
                    <img src="{% static 'images/34.jpg' %}" alt="">
                </div>
                <!--End: About Video -->
            </div>
            <!--End: row-->
        </div>
        <!-- End: container-->
    </section>
<!--  End: About Section
==================================================--> 

    <!-- Start: Why CHoos Us Section 
==================================================-->
    <div class="why_choos_section" id="why">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 why_chs">
                    <div class="base-header">
                        <h3>Чему вы научитесь?</h3>
                    </div>

                    <div class="why_chs_box col-sm-12">
                        <ol>
                            <li><h4>Фундаментальным знаниям о съёмке</h4></li>
                            <li><h4>Как правильно держать камеру и делать плавные кадры</h4></li>
                            <li><h4>Настраивать телефон перед съёмкой</h4></li>
                            <li><h4>Снимать красивое видео</h4></li>
                            <li><h4>Правильно монтировать видео (Видеомонтаж)</h4></li>
                            <li><h4>Секреты переходов</h4></li>
                        </ol>
                    </div>
                    <a href="#pay-pay" class="btn btn-success">Хочу записаться</a>
                </div>

            </div>
            <!--/.row -->
        </div>
        <!--/.container -->
    </div>

<!-- End: Why CHoos Us Section 
==================================================-->



<!--Start: Video Section
=============================================-->
    <section class="video-section" id="video">
        <!--1920-960-->
        <div class="overlay"></div>
        <div class="container">
            <div class="col-sm-12 col-xs-12">
                <div class="video-container">
                    <a data-backdrop="true" data-target="#video-modal" data-toggle="modal"><span class="play-video"><span class="fa fa-play"></span></span></a>
                </div>
                <!-- VIDEO SOCIALS -->
                <div class="video-content">
                    <h2 style="text-transform: uppercase;">Видео презентация </h2>
                </div>
                <!-- END VIDEO SOCIALS -->
            </div>
        </div>
    </section>
    <!-- VIDEO POPUP -->
    <div class="modal fade video-modal" id="video-modal" role="dialog">
        <div class="modal-content">
            <div class="row"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/hUT5dSSL__8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>
<!-- END VIDEO POPUP -->


<!-- Start: Pricing Section 
==================================================-->
    {% include 'tarif.html' %}
<!--End: Pricing Section  
==================================================--> 

    {% include 'oplata.html' %}

    <!--   Start: Contact Section  
==================================================-->
    {% include 'form.html' %}
    <!-- End:Contact Section 
==================================================-->


    {% include 'footer.html' %}