{% load static %}
<!-- Start: Форма оплаты начало -->
<div class = "container" style="margin-top: 20px;" id="pay-pay">
    <div class="base-header">
        <h3>Оплата</h3>
    </div>
    <div class="panel-group" id="accordion">
        <!-- panel start -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    <span class="glyphicon glyphicon-menu-right text-success"></span> 
                    Банковской картой Visa           
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    Инструкции: 1. Перевести средства с терминала или со счета DemirBank на <span style="font-weight: 600;">4215 8901 1775 6939</span>  (Получатель: Санжар Субанкулов). 
                    Инструкции: 2. Отправьте чек в 
                    <a target="_blank" href="https://wa.me/+996703882069" style="font-weight: 400; color:#0ee60a;">WhatsApp по телефону +996 703 882 069. </a> 
                    Доступ откроется за 1 день до курса. 
                </div>
            </div>
        </div>
        <!-- panel end -->

        <!-- panel start -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                        <span class="glyphicon glyphicon-menu-right text-info"></span>
                        Элсом
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    Инструкции: 1. Перевести средства с терминала или со счета Элсома на <span style="font-weight: 600;">+996 552 596 252</span>  (Получатель: Санжар Субанкулов). 
                    Инструкции: 2. Отправьте чек в 
                    <a target="_blank" href="https://wa.me/+996703882069" style="font-weight: 400; color:#0ee60a;">WhatsApp по телефону +996 703 882 069. </a> 
                    Доступ откроется за 1 день до курса.
                </div>
            </div>
        </div>
        <!-- panel end -->

        <!-- panel start -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                        <span class="glyphicon glyphicon-menu-right text-success"></span>
                        О! Деньги
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    Инструкции: 1. С терминала или О! Переведите средства из приложения Money на номер <span style="font-weight: 600;">+996 703 882 069</span>  (Получатель: Санжар Субанкулов). 
                    Инструкции: 2. Отправьте чек в 
                    <a target="_blank" href="https://wa.me/+996703882069" style="font-weight: 400; color:#0ee60a;">WhatsApp по телефону +996 703 882 069. </a>  Доступ откроется за 1 день до курса
                </div>
            </div>
        </div>
        <!-- panel end -->

        <!-- panel start -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                        <span class="glyphicon glyphicon-menu-right text-info"></span>
                        Банковской картой Optima
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    Инструкции: 1. Перевести средства с терминала или со счета Optima24 на <span style="font-weight: 600;">9417 4988 8996 5343</span> (Получатель: Санжар Субанкулов). 
                    Инструкции: 2. Отправьте чек в <a target="_blank" href="https://wa.me/+996703882069" style="font-weight: 400; color:#0ee60a;">WhatsApp по телефону +996 703 882 069. </a> 
                    Доступ откроется за 1 день до курса.
                </div>
            </div>
        </div>
        <!-- panel end -->
    </div>
</div>
    <!-- end container -->
<!-- End: Форма оплаты  -->