<div class="slides_wrapper slides_wrapper_onepage" id="page-top">
    <div class="slides__preload_wrapper">
        <div class="spinner"></div>
    </div>
    <div class="slider_home">
        <!-- Start: Slider 1  -->
        <div class="single_slider slide_bg_1">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h2><span>Мобилография </span><br> для каждого</h2>
                                <p>Изучение новой профессии с нуля, развитие своего бизнеса, профессиональный рост - все это про мои курсы. </p>
                                <div class="slider_btn">
                                    <a href="#pay-pay" class="slider_btn_one">записаться на курс</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 1  -->
        <!-- Start: Slider 2  -->
        <div class="single_slider slide_bg_2">
            <div class="slider_item_tb">
                <div class="slider_item_tbcell">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h2><span>Пора начать </span><br> а я помогу</h2>
                                <p>Курс - это необходимый инструмент, простые объяснения, написанные доступным языком, проверенные тысячами выпускников и реализованные на практике с ведущими компаниями.  </p>
                                <div class="slider_btn">
                                    <a href="#pay-pay" class="slider_btn_one">записаться на курс</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: Slider 2  -->
    </div>
</div>