<section class="pricing-section" id="pricing">
    <!-- container -->
    <div class="container">
        <!-- Start: Heading -->
        <div class="base-header">
            <h3>Тариф</h3>
        </div>
        <!-- End:  heading -->
        <div class="row">
            <div class="col-sm-12 col-xs-12 star">
                <!-- Start: pricing-box 3 -->
                <div class="pricing-box">
                    <div class="pricing_heading">
                        <h4>Первые 64 часа: <span class="gradient">1000 сом</span></h4>
                        <!-- <h4>17-20 сентября:<span class="gradient">1990 сом</span> </h4>
                        <h4>20 сентября: <span class="gradient">3990 сом</span></h4> -->
                        <h4>  <span style="color: #4ef74c; font-weight: bold; font-size: 30px;">доступ на 3 месяца</span></h4>
                        
                    </div>
                    <div class="text-center" style="margin-top: 10px;">
                        <a href="#pay-pay" class="more-link">Хочу записаться</a>
                    </div>
                </div>
                <!-- End: pricing-box 3 -->
            </div>
        </div>
        <!--/ row -->
    </div>
    <!--/ container -->
    <div class="container">
        <div class="col-lg-12 col-md-12 col-12" style="margin-bottom: 30px;">
            <h3 style="text-align: center;"><span style="color: #ffc444;">
                До окончания скидки осталось 👇🏻</span>
            </h3>
            <div class="content"> 
                <div class="container wow fadeInUp delay-03s animated" style="visibility: visible;">
                  <div class="row">
                    <div id="countdown" data-wow-delay=".3s" data-date="Sep 14, 2021 00:00:00"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>